In [37]:
import re
import numpy as np
import pandas as pd
from scipy.sparse import csr_matrix
from sklearn.feature_extraction.text import TfidfVectorizer
import sparse_dot_topn.sparse_dot_topn as ct
import time

In [11]:
import boto3
from sagemaker import get_execution_role

In [12]:
role = get_execution_role()

In [13]:
bucket='similarityengine1-sagemaker'

In [14]:
data_key = 'sec__edgar_company_info.csv'

In [15]:
data_location = 's3://{}/{}'.format(bucket, data_key)

In [45]:
pd.read_csv(data_location)

        Line Number                             Company Name  Company CIK Key
0                 1                                   !J INC          1438823
1                 2            #1 A LIFESAFER HOLDINGS, INC.          1509607
2                 3       #1 ARIZONA DISCOUNT PROPERTIES LLC          1457512
3                 4                        #1 PAINTBALL CORP          1433777
4                 5                                    $ LLC          1427189
5                 6                      & S MEDIA GROUP LLC          1447162
6                 7                  &TV COMMUNICATIONS INC.          1479357
7                 8                             'MKTG, INC.'           886475
8                 9                         'OHANA LABS INC.          1703629
9                10        (OURCROWD INVESTMENT IN MST) L.P.          1599496
10               11                       (Y.Z) QUEENCO LTD.          1623088
11               12                       .CLUB DOMAINS, LLC          1577787
12               13             012 SMILE.COMMUNICATIONS LTD          1402606
13               14                           02 MEDTECH INC          1409768
14               15                                0210, LLC          1494698
15               16                         024 PHARMA, INC.          1307969
16               17                            02DIESEL CORP          1414080
17               18               03 ENTERTAINMENT GROUP INC          1322914
18               19               033 ASSET MANAGEMENT LLC /          1114831
19               20              05 AFWAIN COURITY KATHY LLC          1398981
20               21        05 CAT THIEF/GOLD IN MY STARS LLC          1406134
21               22            05 DIXIE UNION/UNDER FIRE LLC          1395687
22               23           05 EL CORREDOR/ONE BAD CAT LLC          1398457
23               24              05 FREUD/LAVISH NUMBERS LLC          1402813
24               25               05 GOLD CASE/JETAZELLE LLC          1398456
25               26             05 HOLD THAT TIGER TOJUR LLC          1394816
26               27  05 INDIAN CHARLIE/HELLO KITTY KITTY LLC          1395686
27               28              05 KAFWAIN JOVIAL WINGS LLC          1399020
28               29        05 LIDO PALACEMADA MEADOWLAKE LLC          1398982
29               30             05 MACHO UNO GO DONNA GO LLC          1394815
...             ...                                      ...              ...
662970       662971                             ZYPPAH, INC.          1678008
662971       662972                              ZYPSEE INC.          1584115
662972       662973                          ZYPTONITE, INC.          1689459
662973       662974                       ZYRAY WIRELESS INC          1138409
662974       662975                           ZYRIANOV DENIS          1558263
662975       662976                    ZYRION TECHNOLOGY INC          1132581
662976       662977                                 ZYRL CO.          1699238
662977       662978           ZYROX MINING INTERNATIONAL INC          1558740
662978       662979                               ZYRRA INC.          1505145
662979       662980                                ZYRRA LLC          1412002
662980       662981                           ZYSBLAT ROBERT          1443679
662981       662982                          ZYSKIND BARRY D          1380832
662982       662983                            ZYSKIND BERYL          1376034
662983       662984                              ZYSTON, LLC          1676502
662984       662985                          ZYTEC CORP /MN/           912092
662985       662986                                ZYTO CORP          1406796
662986       662987                        ZYUDLY LABS, INC.          1696231
662987       662988                              ZYUZIN IGOR          1317728
662988       662989                         ZYUZIN KIRILL I.          1629078
662989       662990                         ZYUZINA IRINA V.          1629122
662990       662991                        ZYUZINA KSENIA I.          1629075
662991       662992          ZYVEK PERFORMANCE MATERIALS INC          1439203
662992       662993                               ZYVEX CORP          1230900
662993       662994                              ZYWIE, INC.          1657236
662994       662995                           ZZ BIOTECH LLC          1383819
662995       662996                            ZZ GLOBAL LLC          1501460
662996       662997                 ZZIF 2008 INVESTMENT LLC          1448632
662997       662998         ZZLL INFORMATION TECHNOLOGY, INC          1365357
662998       662999                                 ZZX, LLC          1691924
662999       663000                    ZZYZX ZZAZX ZZOZX INC          1184274

[663000 rows x 3 columns]

In [49]:
names =pd.read_csv(data_location)

In [50]:
print(names.shape)

(663000, 3)

In [51]:
def ngrams(string, n=3):
    #string = fix_text(string) # fix text
    string = string.encode("ascii", errors="ignore").decode() #remove non ascii chars
    string = string.lower()
    chars_to_remove = [")","(",".","|","[","]","{","}","'"]
    rx = '[' + re.escape(''.join(chars_to_remove)) + ']'
    string = re.sub(rx, '', string)
    string = string.replace('&', 'and')
    string = string.replace(',', ' ')
    string = string.replace('-', ' ')
    string = string.replace('#', ' ')
    string = re.sub(' +',' ',string).strip() # get rid of multiple spaces and replace with a single
    string = ' '+ string +' ' # pad names for ngrams...
    string = re.sub(r'[,-./]|\sbd',r'', string)
    string = string.title() # normalise case - capital at start of each word
    ngrams = zip(*[string[i:] for i in range(n)])
    return [''.join(ngram) for ngram in ngrams]

In [52]:
company_names = names['Company Name']
vectorizer = TfidfVectorizer(min_df=1, analyzer=ngrams)
tf_idf_matrix = vectorizer.fit_transform(company_names)

In [53]:
def awesome_cossim_top(A, B, ntop, lower_bound=0):
    # force A and B as a CSR matrix.
    # If they have already been CSR, there is no overhead
    A = A.tocsr()
    B = B.tocsr()
    M, _ = A.shape
    _, N = B.shape
 
    idx_dtype = np.int32
 
    nnz_max = M*ntop
 
    indptr = np.zeros(M+1, dtype=idx_dtype)
    indices = np.zeros(nnz_max, dtype=idx_dtype)
    data = np.zeros(nnz_max, dtype=A.dtype)

    ct.sparse_dot_topn(
        M, N, np.asarray(A.indptr, dtype=idx_dtype),
        np.asarray(A.indices, dtype=idx_dtype),
        A.data,
        np.asarray(B.indptr, dtype=idx_dtype),
        np.asarray(B.indices, dtype=idx_dtype),
        B.data,
        ntop,
        lower_bound,
        indptr, indices, data)

    return csr_matrix((data,indices,indptr),shape=(M,N))

In [ ]:
t1 = time.time()
matches = awesome_cossim_top(tf_idf_matrix, tf_idf_matrix.transpose(), 10, 0.8)
t = time.time()-t1
print("SELFTIMED:", t)

SELFTIMED: 2690.1000900268555

In [55]:
print(tf_idf_matrix.shape)

(663000, 33884)

In [56]:
def get_matches_df(sparse_matrix, name_vector, top=100):
    non_zeros = sparse_matrix.nonzero()
    
    sparserows = non_zeros[0]
    sparsecols = non_zeros[1]
    
    if top:
        nr_matches = top
    else:
        nr_matches = sparsecols.size
    
    left_side = np.empty([nr_matches], dtype=object)
    right_side = np.empty([nr_matches], dtype=object)
    similairity = np.zeros(nr_matches)
    
    for index in range(0, nr_matches):
        left_side[index] = name_vector[sparserows[index]]
        right_side[index] = name_vector[sparsecols[index]]
        similairity[index] = sparse_matrix.data[index]
    
    return pd.DataFrame({'left_side': left_side,
                          'right_side': right_side,
                           'similairity': similairity})

In [57]:
matches_df = get_matches_df(matches, company_names,top=10000 )
matches_df = matches_df[matches_df['similairity'] < 0.99999] # Remove all exact matches
matches_df.head(5)

,left_side,right_side,similairity
6,& S MEDIA GROUP LLC,HH & S MEDIA GROUP LLC,0.834769
9,"'MKTG, INC.'",MKTG SERVICES INC,0.803911
12,(OURCROWD INVESTMENT IN MST) L.P.,OURCROWD (INVESTMENT IN MST - II) L.P.,0.951291
13,(OURCROWD INVESTMENT IN MST) L.P.,OURCROWD (INVESTMENT IN MST - III) LP,0.939652
170,1 800 MUTUALS ADVISOR SERIES,1 800 MUTUALS ADVISORS SERIES,0.947798

In [58]:
matches_df.shape

(2595, 3)

In [59]:
matches_df.sort_values(['similairity'], ascending=False).head(20)

,left_side,right_side,similairity
4698,60 EAST 42ND STREET ASSOCIATES,60 EAST 42ND STREET ASSOCIATES L.L.C.,0.986894
4696,60 EAST 42ND STREET ASSOCIATES L.L.C.,60 EAST 42ND STREET ASSOCIATES,0.986894
2651,250 WEST 57TH ST ASSOCIATES,250 WEST 57TH ST ASSOCIATES L.L.C.,0.986283
2649,250 WEST 57TH ST ASSOCIATES L.L.C.,250 WEST 57TH ST ASSOCIATES,0.986283
1235,1798 CONSUMER EQUITY LONG/SHORT FUND,1798 CONSUMER EQUITY LONG/SHORT FUND LP,0.984524
1233,1798 CONSUMER EQUITY LONG/SHORT FUND LP,1798 CONSUMER EQUITY LONG/SHORT FUND,0.984524
1831,2006 A-D DRILLING FUND XII JOINT VENTURE,2006 A-D DRILLING FUND XIII JOINT VENTURE,0.981445
1837,2006 A-D DRILLING FUND XIII JOINT VENTURE,2006 A-D DRILLING FUND XII JOINT VENTURE,0.981445
7556,AAPCF II SERIES OF HCP PRIVATE EQUITY INVESTOR...,AAPCF III SERIES OF HCP PRIVATE EQUITY INVESTO...,0.978794
7558,AAPCF III SERIES OF HCP PRIVATE EQUITY INVESTO...,AAPCF II SERIES OF HCP PRIVATE EQUITY INVESTOR...,0.978794
5503,99 CENTS ONLY STORES LLC,99 CENTS ONLY STORES,0.978193
5514,99 CENTS ONLY STORES,99 CENTS ONLY STORES LLC,0.978193
5504,99 CENTS ONLY STORES LLC,99 CENTS ONLY STORES,0.978193
5519,99 CENTS ONLY STORES,99 CENTS ONLY STORES LLC,0.978193
7281,"AACP CHINA GROWTH INVESTORS VIII, L.P.","AACP CHINA GROWTH INVESTORS VII, L.P.",0.977756
7274,"AACP CHINA GROWTH INVESTORS VII, L.P.","AACP CHINA GROWTH INVESTORS VIII, L.P.",0.977756
9128,ABN AMRO CAPITAL FUNDING TRUST VII,ABN AMRO CAPITAL FUNDING TRUST VIII,0.975594
9138,ABN AMRO CAPITAL FUNDING TRUST VIII,ABN AMRO CAPITAL FUNDING TRUST VII,0.975594
9068,ABN AMRO CAPITAL FUNDING LLC VII,ABN AMRO CAPITAL FUNDING LLC VIII,0.974720
9077,ABN AMRO CAPITAL FUNDING LLC VIII,ABN AMRO CAPITAL FUNDING LLC VII,0.974720

In [60]:
import pickle

In [61]:
with open('matched.pickle', 'wb') as f:
    pickle.dump(matches_df, f)

In [67]:
with open('matched.pickle','rb') as f:
    loaded_obj = pickle.load(f)

In [68]:
print ('loaded_obj is', loaded_obj)

loaded_obj is                                               left_side  \
6                                   & S MEDIA GROUP LLC
9                                          'MKTG, INC.'
12                    (OURCROWD INVESTMENT IN MST) L.P.
13                    (OURCROWD INVESTMENT IN MST) L.P.
170                        1 800 MUTUALS ADVISOR SERIES
172                       1 800 MUTUALS ADVISORS SERIES
181   1 FINANCIAL MARKETPLACE SECURITIES LLC        ...
183             1 FINANCIAL MARKETPLACE SECURITIES, LLC
186                                     1 JOINT VENTURE
187                                     1 JOINT VENTURE
188                                     1 JOINT VENTURE
189                                     1 JOINT VENTURE
190                                     1 JOINT VENTURE
191                                     1 JOINT VENTURE
192                                     1 JOINT VENTURE
193                                     1 JOINT VENTURE
194                                     1 JOINT VENTURE
212                                 1-800 IDEAS COM INC
244                        10 OUTDOOR ADVERTISING, INC.
274                             100 PLAZA HOLDINGS, LLC
357                        1060 CAPITAL MANAGEMENT, LLC
359                   1060 CAPITAL OPPORTUNITY FUND, LP
361                  1060 CAPITAL OPPORTUNITY FUND, LTD
363                                   1060 CAPITAL, LLC
424                          11 MADISON INVESTOR II LLC
426                             11 MADISON INVESTOR LLC
434                                      11 RONIIN, LLC
446                        110-112 THIRD AVE. GC II LLC
448                           110-112 THIRD AVE. GC LLC
471                         111 TRI-COUNTY PARTNERS, LP
...                                                 ...
9921                                       ABRAMS DAVID
9924                                    ABRAMS EDWARD B
9926                                    ABRAMS EDWARD M
9934                                     ABRAMS JAMES B
9936                                     ABRAMS JAMES D
9939                                  ABRAMS JEFFREY B.
9941                                   ABRAMS JEFFREY J
9946                                    ABRAMS JUDITH F
9948                                    ABRAMS JUDITH R
9950                                     ABRAMS LEIGH J
9953                                        ABRAMS MARC
9954                                        ABRAMS MARC
9956                                        ABRAMS MARK
9957                                        ABRAMS MARK
9959                                      ABRAMS MARTIN
9960                                      ABRAMS MARTIN
9962                                  ABRAMS MICHAEL J.
9963                                  ABRAMS MICHAEL J.
9964                                  ABRAMS MICHAEL J.
9966                                   ABRAMS MICHAEL L
9967                                   ABRAMS MICHAEL L
9969                                   ABRAMS MICHAEL S
9970                                   ABRAMS MICHAEL S
9976                ABRAMS REALTY CAPITAL PARTNERS, LLC
9978                                   ABRAMS RICHARD K
9980                                   ABRAMS RICHARD N
9982                                      ABRAMS ROBERT
9992                                    ABRAMSON ALAN B
9993                                    ABRAMSON ALAN B
9995                                      ABRAMSON ALAN

                                             right_side  similairity
6                                HH & S MEDIA GROUP LLC     0.834769
9                                     MKTG SERVICES INC     0.803911
12               OURCROWD (INVESTMENT IN MST - II) L.P.     0.951291
13                OURCROWD (INVESTMENT IN MST - III) LP     0.939652
170                       1 800 MUTUALS ADVISORS SERIES     0.947798
172                        1 800 MUTUALS ADVISOR SERIES     0.947798
181             1 FINANCIAL MARKETPLACE SECURITIES, LLC     0.949219
183   1 FINANCIAL MARKETPLACE SECURITIES LLC        ...     0.949219
186                               CORA #1 JOINT VENTURE     0.861786
187                               CORAL 1 JOINT VENTURE     0.855986
188                              PETERS 1 JOINT VENTURE     0.852383
189                              PARK # 1 JOINT VENTURE     0.849745
190                              RIVER #1 JOINT VENTURE     0.846734
191                               BARRE 1 JOINT VENTURE     0.839266
192                                LIME 1 JOINT VENTURE     0.836216
193                             STREET #1 JOINT VENTURE     0.833030
194                               SCOTT 1 JOINT VENTURE     0.828594
212                                       800 IDEAS INC     0.818939
244                       ADAMS OUTDOOR ADVERTISING INC     0.804519
274                                  PLAZA HOLDINGS LLC     0.807021
357                                   1060 CAPITAL, LLC     0.810474
359                  1060 CAPITAL OPPORTUNITY FUND, LTD     0.959983
361                   1060 CAPITAL OPPORTUNITY FUND, LP     0.959983
363                        1060 CAPITAL MANAGEMENT, LLC     0.810474
424                             11 MADISON INVESTOR LLC     0.910493
426                          11 MADISON INVESTOR II LLC     0.910493
434                                         RONIIN, LLC     0.820344
446                           110-112 THIRD AVE. GC LLC     0.944209
448                        110-112 THIRD AVE. GC II LLC     0.944209
471                              TRI COUNTY PARTNERS LP     0.814084
...                                                 ...          ...
9921                                    ABRAMS DAVID M.     0.942335
9924                                    ABRAMS EDWARD M     0.889631
9926                                    ABRAMS EDWARD B     0.889631
9934                                     ABRAMS JAMES D     0.873205
9936                                     ABRAMS JAMES B     0.873205
9939                                   ABRAMS JEFFREY J     0.897023
9941                                  ABRAMS JEFFREY B.     0.897023
9946                                    ABRAMS JUDITH R     0.884928
9948                                    ABRAMS JUDITH F     0.884928
9950                                   ABRAMSON LEIGH J     0.865071
9953                                        ABRAMS MARK     0.828800
9954                                      ABRAMSON MARC     0.806146
9956                                        ABRAMS MARC     0.828800
9957                                      ABRAMS MARTIN     0.826846
9959                                        ABRAMS MARK     0.826846
9960                                    ABRAHAMS MARTIN     0.813525
9962                                   ABRAMS MICHAEL L     0.900603
9963                                   ABRAMS MICHAEL S     0.892145
9964                                    ABRAM MICHAEL J     0.832275
9966                                   ABRAMS MICHAEL S     0.903251
9967                                  ABRAMS MICHAEL J.     0.900603
9969                                   ABRAMS MICHAEL L     0.903251
9970                                  ABRAMS MICHAEL J.     0.892145
9976                            ABRAMS CAPITAL PARTNERS     0.809643
9978                                   ABRAMS RICHARD N     0.833142
9980                                   ABRAMS RICHARD K     0.833142
9982                                    ABRAMSON ROBERT     0.801934
9992                                      ABRAMSON ALAN     0.940941
9993                                     ABRAMS ALAN B.     0.820387
9995                                    ABRAMSON ALAN B     0.940941

[2595 rows x 3 columns]